<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

        <div class="nav-bar" ></div>
        <div id="app">

            <div class="product">
          
              <div class="product-image">
                <img v-bind:src="image" />
              </div>
          
              <div class="product-info">
                <h1>{{ title }}</h1>
                <p v-if="inStock">In Stock</p>
                <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
                <!-- <span v-show="onSale">On Sale!</span> -->
                <!-- <br /> -->
                <p>{{ sale }}</p>
                <a :href="link" target="_blank">More products like this</a>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="(variant,index) in variants" 
                  :key="variant.variantId"
                  class="color-box"
                  :style="{ backgroundColor: variant.variantColor }"
                  @mouseover="updateProduct(index)" >
                </div>

                <div>
                  <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                  </ul>
                </div>

                <button v-on:click="addToCart" 
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock }">
                        Add to Cart
                </button>
                <button @click="removeFromCart" 
                        :disabled="cart <= 0"
                        :class="{ disabledButton: cart <= 0 }">
                        Remove from cart
                </button>

                <div class="cart">
                  <p>Cart({{ cart }})</p>
                </div>

              </div>
          
            </div>  
        </div>  
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <Script src="main.js"></Script>
    </body>
</html>